body {
  margin-top: 20px;
}

.no-underline:hover {
  text-decoration: none;
}

.file-manager-actions {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.file-manager-actions > * {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.file-manager-container {
  display: -ms-flexbox;
  display: grid;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.file-manager-container.file-manager-col-view {
  display: -ms-flexbox;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.file-item-tags {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.tag {
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 0.75rem;
  color: #fff;
  display: inline-block;
}

.file-item {
  position: relative;
  flex: 0 0 auto;
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 10px;
  padding: 1.25rem 0 1rem 0;
}
.file-item:hover,
.file-item.focused {
  border-color: rgba(0, 0, 0, 0.05);
}
.file-item.focused {
  z-index: 2;
}
.file-item * {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  text-decoration: none;
}
.dark-style .file-item:hover,
.dark-style .file-item.focused {
  border-color: rgba(255, 255, 255, 0.2);
}
.file-item-checkbox {
  margin: 0;
}
.file-item-select-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
}
.file-item-img {
  background-color: transparent;
  background-position: center center;
  background-size: cover;
}
.file-item-name {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  padding: 0.5rem;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.file-manager-col-view .file-item {
  margin: 0 0.25rem 0.25rem 0;
  padding: 1.25rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}
.file-manager-col-view .file-item-tags {
  justify-content: center;
  margin-top: 1rem;
}
[dir="rtl"] .file-manager-col-view .file-item {
  margin-right: 0;
  margin-left: 0.25rem;
}
.file-manager-col-view .file-item-img,
.file-manager-col-view .file-item-icon {
  display: block;
  margin: 0 auto 0.75rem auto;
  width: 6rem;
  height: 6rem;
  font-size: 4rem;
  line-height: 6rem;
}
.file-manager-col-view .file-item-level-up {
  font-size: 2.5rem;
}
.file-manager-col-view .file-item-checkbox,
.file-manager-col-view .file-item-actions {
  position: absolute;
  top: 6px;
}
.file-manager-col-view .file-item-checkbox {
  left: 10px;
}
[dir="rtl"] .file-manager-col-view .file-item-checkbox {
  right: 6px;
  left: auto;
}
.file-manager-col-view .file-item-actions {
  right: 6px;
}
[dir="rtl"] .file-manager-col-view .file-item-actions {
  right: auto;
  left: 6px;
}
.file-manager-col-view .file-item-name {
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  padding: 0 0.75rem 0 0.75rem;
}
.file-manager-col-view .file-manager-row-header,
.file-manager-col-view .file-item-changed {
  display: none;
}
.file-manager-col-view .file-item-size {
  display: none;
}
.file-manager-row-view .file-manager-row-header {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
  padding: 1rem 11rem 0.8rem 1rem;
  border: 1px solid #ddd;
  font-weight: bold;
  border-radius: 5px;
}
.file-manager-row-view .file-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0.8rem;
  padding: 0.5rem 0.5rem 1rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  flex-grow: 1;
}
.file-manager-row-view .file-item-info {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.2rem 0;
}
.file-manager-row-view .file-item-tags {
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
}
.file-manager-row-view .file-item-tags-wrapper {
  width: 100%;
  padding: 0 0 0 3rem;
  display: flex;
  align-items: center;
}
[dir="rtl"] .file-manager-row-view .file-manager-row-header,
[dir="rtl"] .file-manager-row-view .file-item {
  padding-right: 2.25em;
  padding-left: 3rem;
}
.file-manager-row-view .file-item-img,
.file-manager-row-view .file-item-icon {
  display: block;
  margin: 0 0 0 1rem;
  width: 3rem;
  height: 3rem;
  text-align: center;
  font-size: 2rem;
  line-height: 3rem;
}
.file-manager-row-view .file-item-level-up {
  margin-left: 2.7rem;
  font-size: 1.5rem;
}
.file-manager-row-view .file-item-checkbox,
.file-manager-row-view .file-item-actions {
  margin-right: 1rem;
}
.file-manager-row-view .file-item-checkbox {
  left: 10px;
}
[dir="rtl"] .file-manager-row-view .file-item-checkbox {
  right: 10px;
  left: auto;
}
.file-manager-row-view .file-item-actions {
  margin-left: 1rem;
  display: flex;
  align-items: center;
}
[dir="rtl"] .file-manager-row-view .file-item-actions {
  right: auto;
  left: 10px;
}
.file-manager-row-view .file-item-size {
  margin-left: auto;
  margin-right: 2rem;
}
.file-manager-row-view .file-item-changed {
  margin-left: 2rem;
  text-align: right;
}
[dir="rtl"] .file-manager-row-view .file-item-changed {
  margin-right: auto;
  margin-left: 0;
}
.file-manager-row-view .file-item-name {
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  padding: 0.5rem;
}
.file-manager-row-view .file-manager-row-header {
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  font-weight: bold;
}
.file-manager-row-view .file-manager-row-header .file-item-name {
  margin-left: 5.5rem;
}
[dir="rtl"] .file-manager-row-view .file-manager-row-header .file-item-name {
  margin-right: 4rem;
  margin-left: 0;
}
.file-manager-row-view .file-manager-row-header .file-item-changed {
  text-align: right;
}
.light-style .file-item-name {
  color: #4e5155 !important;
}
.light-style .file-item.selected .file-item-select-bg {
  opacity: 0.15;
}
@media (min-width: 768px) {
  .light-style .file-manager-row-view .file-item-changed {
    display: block;
  }
  .light-style .file-manager-row-view .file-item-name {
    width: calc(100% - 28rem);
  }
}
@media (min-width: 992px) {
  .light-style .file-manager-col-view .file-item-checkbox {
    opacity: 1;
  }
  .light-style .file-manager-col-view .file-item-actions {
    opacity: 0;
  }
  .light-style .file-manager-col-view .file-item:hover .file-item-checkbox,
  .light-style .file-manager-col-view .file-item.focused .file-item-checkbox,
  .light-style .file-manager-col-view .file-item.selected .file-item-checkbox,
  .light-style .file-manager-col-view .file-item:hover .file-item-actions,
  .light-style .file-manager-col-view .file-item.focused .file-item-actions,
  .light-style .file-manager-col-view .file-item.selected .file-item-actions,
  .light-style .file-manager-col-view .file-item-checkbox:checked,
  .light-style .file-manager-col-view .file-item-actions:checked {
    opacity: 1;
  }
}
.material-style .file-item-name {
  color: #4e5155 !important;
}
.material-style .file-item.selected .file-item-select-bg {
  opacity: 0.15;
}
@media (min-width: 768px) {
  .material-style .file-manager-row-view .file-item-changed {
    display: block;
  }
  .material-style .file-manager-row-view .file-item-name {
    width: calc(100% - 17rem);
  }
}
@media (min-width: 992px) {
  .material-style .file-manager-col-view .file-item-checkbox,
  .material-style .file-manager-col-view .file-item-actions {
    opacity: 0;
  }
  .material-style .file-manager-col-view .file-item:hover .file-item-checkbox,
  .material-style .file-manager-col-view .file-item.focused .file-item-checkbox,
  .material-style .file-manager-col-view .file-item.selected .file-item-checkbox,
  .material-style .file-manager-col-view .file-item:hover .file-item-actions,
  .material-style .file-manager-col-view .file-item.focused .file-item-actions,
  .material-style .file-manager-col-view .file-item.selected .file-item-actions,
  .material-style .file-manager-col-view .file-item-checkbox:checked,
  .material-style .file-manager-col-view .file-item-actions:checked {
    opacity: 1;
  }
}
.dark-style .file-item-name {
  color: #fff !important;
}
.dark-style .file-item.selected .file-item-select-bg {
  opacity: 0.15;
}
@media (min-width: 768px) {
  .dark-style .file-manager-row-view .file-item-changed {
    display: block;
  }
  .dark-style .file-manager-row-view .file-item-name {
    width: calc(100% - 17rem);
  }
}
@media (min-width: 992px) {
  .dark-style .file-manager-col-view .file-item-checkbox,
  .dark-style .file-manager-col-view .file-item-actions {
    opacity: 0;
  }
  .dark-style .file-manager-col-view .file-item:hover .file-item-checkbox,
  .dark-style .file-manager-col-view .file-item.focused .file-item-checkbox,
  .dark-style .file-manager-col-view .file-item.selected .file-item-checkbox,
  .dark-style .file-manager-col-view .file-item:hover .file-item-actions,
  .dark-style .file-manager-col-view .file-item.focused .file-item-actions,
  .dark-style .file-manager-col-view .file-item.selected .file-item-actions,
  .dark-style .file-manager-col-view .file-item-checkbox:checked,
  .dark-style .file-manager-col-view .file-item-actions:checked {
    opacity: 1;
  }
}
