{% extends 'base.html' %} {% import 'bootstrap/wtf.html' as wtf %} {% block app_context %}
<div class="row">
  <div class="col-md-12">
    <h1>Add Document Form</h1>
  </div>
  <div class="row">
    <div class="col-md-6">{{ wtf.quick_form(form) }}</div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>name</th>
            <th>content</th>
            <th>type</th>
            <th>size</th>
            <th>abs_path</th>
            <th>rel_path</th>
            <th>date_modified</th>
            <th>tags</th>
          </tr>
        </thead>
        <tbody>
          {% for document in documents %}
          <tr>
            <td>{{ document.id }}</td>
            <td>{{ document.name }}</td>
            <td>{{ document.content }}</td>
            <td>{{ document.type }}</td>
            <td>{{ document.size }}</td>
            <td>{{ document.abs_path }}</td>
            <td>{{ document.rel_path }}</td>
            <td>{{ document.date_modified }}</td>
            <td>{{ document.tags }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endblock %}
</div>
