{% extends 'base.html' %} {% import 'bootstrap/wtf.html' as wtf %} {% block app_context %}
<div class="row">
  <div class="column is-8 is-offset-2">
    <h1 class="title">Sort by type</h1>
    <div class="box">
      <form method="POST" action="/add_file">
        <div class="field">
          <div class="form-group">
            <input class="input is-large" type="text" name="sortInput" placeholder=" " autofocus="" />
          </div>
        </div>
        <button class="button is-block is-info is-large is-fullwidth">Sort</button>
      </form>
    </div>
  </div>

  <div class="column is-8 is-offset-2">
    <h1 class="title">Use Ai</h1>
    <div class="box">
      <form method="POST" action="/add_file">
        <div class="field">
          <div class="form-group">
            <input class="input is-large" type="text" name="aiInput" placeholder=" " autofocus="" />
          </div>
        </div>
        <button class="button is-block is-info is-large is-fullwidth">Ai</button>
      </form>
    </div>
  </div>

  <hr />
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>name</th>
            <th>type</th>
            <th>size</th>
            <th>abs_path</th>
            <th>rel_path</th>
            <th>date_modified</th>
            <th>tags</th>
          </tr>
        </thead>
        <tbody>
          {% for document in documents %}
          <tr>
            <td>{{ document.id }}</td>
            <td>{{ document.name }}</td>
            <td>{{ document.type }}</td>
            <td>{{ document.size }}</td>
            <td>{{ document.abs_path }}</td>
            <td>{{ document.rel_path }}</td>
            <td>{{ document.date_modified }}</td>
            <td>{{ document.tags }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endblock %}
</div>
